<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Cubo</title>
</head>



<body>

<header >
    <nav>
        <ul class="menu">
            <li class="item logo"><img src="../static/img/logo.svg"></li>
            <li class="item button"><a href="#">HOME</a></li>
            <li class="item button secondary"><a href="#">MENU 1</a></li>
            <li class="item button secondary"><a href="#">MENU 2</a></li>
            <li class="item button secondary"><a href="#">MENU 3</a></li>
        </ul>
    </nav>
</header>

</body>

</html>